data
reference
software
documentation
bin
!bin/data/shaders
!bin/data/settings.xml
build
obj
.vs
.DS_Store
.AppleDouble
Thumbs.DB
*.zip
*.3dmbak
*.jpg
scratch
textures
*.pyc

writing/SIGGRAPH/audio_draft.pages
